*{
  margin: 0;
}

h1{
  text-align: center;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, black 0%, rgb(94, 66, 4) 100%);
  color: white;
  font-size: 3rem;
  padding: 0vh;
  font-family: fantasy;
}
