*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


body{
  background: url(https://wallpaperaccess.com/full/1900952.jpg)center center fixed;
  background-size: cover;
}

.new{
  text-align: center;
}

.new:hover{
  background: rgba(241, 241, 241, 0.37);
}

h2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr
}

ul{
  border: solid 10px black;
  grid-column: span 1/4;
  background: transparent;
  display:inline-block;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
}

li{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  flex-wrap: wrap-reverse;
}

li:nth-child(odd){
  font-size: 20px;
  background: teal;
}

li:nth-child(even){
  font-size: 20px;
  background: rgb(255, 205, 139);

}

img{
  background: transparent;
  border-radius: 5%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  height: 40%;

}

input{
  font-family: fantasy;
  background: white;
}

input:hover{
  background: transparent;
}

img{
    will-change: transform;
    transition: transform 450ms;
  }

img:hover {
    transition: transform 125ms;
    transform: translateY(-10px);
  }
