/* Time to start working on the CSS, I'm not sure how I'm going to do this tbh.  */
*{
  margin: 0;
  padding: 0;
}

body{
  /* background: pink; */
  height: 100vh;
  width: 100vw;
  background: url(https://img2.goodfon.com/wallpaper/nbig/3/d3/tekstura-derevo-polki-chernyy.jpg) center center fixed;
  background-size: auto;
  z-index: 1;
}

.container{
  text-align: center;
  background: transparent  center center fixed;
  position: sticky;
  display: grid;
  grid-template-columns: 1fr 256px 1fr;

}

.productName{
  background: pink;
  font-size: 3rem;
  grid-column: span 3;
  grid-row-start: 1;
  grid-row-end: 1;

}

.numbBoi{
  margin-top: 10vh;
  grid-gap: 10px;
  background: white  center center fixed;
  display: flex;
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 4;
  align-self: center;
  align-content: space-around;
  flex-direction: column-reverse;
  flex-wrap: wrap-reverse;
}

.productPrice{
  background: purple;
  z-index: 1;
}

.qty{
  background: transparent;
  z-index: 2;
}

.scrip{
  background: pink;
  grid-column: span 1/3;
  grid-row-start: 4;
  grid-row-end: 4;
  z-index: 2;
}

.pic{
  background: transparent;
  grid-column: span 1/3;
  grid-row-start: 2;
  grid-row-end: 4;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}

nav{
  text-align: center;
  border: black 1px solid;
  background: rgba(245, 219, 243, 0.55)  center center fixed;
  margin-top: 25vh;
  grid-column: span 3;
  grid-row-start: 5;
  grid-row-end: 5;
}
